//- layout.pug
html
  head
    title My Site - #{title}
    link(rel='stylesheet', href='/style.css')
  body
    a(href="/") list
    span= "\t"
    a(href="/group") group
    div.content
      block content
      div.list_container
        each val, index in data 
          if val.done === false
            form(action="/delete", method="delete")
              input(type="hidden", name="name", value=val.name)
              button.list(type="submit")= val.name
          if val.done === true
            input.list.done(type="button", value=val.name)